<!DOCTYPE html>
<head>
	<meta charset="utf-8">
	<title><%= title %></title>
	<script src="/socket.io/socket.io.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<script>
	$(document).ready(function(){
	// 1.
		io = io.connect();
		$("#survey_form").submit(function(){
			console.log($("#name_html").val());
			io.emit("posting_form", {
				name: $("#name_html").val(), 
				location: $("#location_html").val(), 
				language: $("#language_html").val(), 
				comment: $("#comment_html").val()
			});
			return false;
		});
	// 3.
		io.on("updated_message", function(data){
			// alert('Submission #'+data.randomly_chosen_number+ ': You, '+ data.survey_info.name +', submitted your information');
			$("#message_div").text("You emitted the following information to the server: " + JSON.stringify(data.survey_info)+ ". " + data.randomly_chosen_number);
		});
	});
</script>​

<body>​
<!-- Message Div -->
	<div id="message_div"></div>

<!-- Survey Form -->
<fieldset>
<h1><%= title %></h1>
<form action="" id="survey_form">
	<table>
	<tr>
		<td>Name:</td>
		<td><input type="text" id="name_html" placeholder="Place Your Name Here"></td>
	</tr>
	<tr>
		<td>Location:</td>
		<td>
		<select id="location_html">
			<option value="">Choose Your Favorite Location</option>
			<option value="CA">California</option>
			<option value="TX">Texas</option>
			<option value="MD">Maryland</option>
			<option value="WA">Washington</option>
			<option value="NY">New York</option>
		</select>
		</td>
	</tr>
	<tr>
		<td>Languages:</td>
		<td>
		<select id ="language_html">
			<option value="">Choose Your Favorite Language</option>
			<option value="PHP">PHP</option>
			<option value="JS">JavaScript</option>
			<option value="C++">C++</option>
			<option value="Java">Java</option>
			<option value="Python">Python</option>
			<option value="Ruby">Ruby</option>
		</select>
		</td>
	</tr>
	<tr><td>Comment (Optional):</td></tr>
	<tr>
		<td><input type="text" id ="comment_html" placeholder="Place Your Comment Here"></td>
	</tr>
	</table>
	<input type="submit" value="Submit" class="submit_btn">
</fieldset>
</form>
</body>
</html>
